.grid-row {
  box-sizing: border-box;
  @include flexbox();
  @include flex(0, 1, auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);

  @include align-items(stretch);

  margin-left: -10px;
  margin-right: -10px;

  .list-card {
    @include make-grid-card(#{'.list-card'});
  }

  @include make-grid-columns();
}