.list-card {
  $root: &;

  &__header {
    display: none;
  }

  &__body {
    display: none;
  }

  &__footer {
    display: none;
  }

  &--grid {
    @include make-grid-card($root);
  }

  &--list {
    @include make-list-card($root);
  }
}