.list-row {
  box-sizing: border-box;
  margin-left: $fgl-gutter-width / -2;
  margin-right: $fgl-gutter-width / -2;

  .list-card {
    padding-left: $fgl-gutter-width / 2;
    padding-right: $fgl-gutter-width / 2;

    @include make-list-card(#{'.list-card'});
  }
}